body {
    font-family: 'Open Sans', sans-serif;
}

 #wrapper {
    width: 100%;
    background:#09192A;
	
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#E5EBF2;
	 
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:transparent;
    padding:10px;
    min-height:1200px;
}
@media(min-width:768px) {
    #page-wrapper{
              margin: 0 0 0 260px;
       padding: 15px 30px;
       min-height: 1200px;
       
   }
   
   
   .navbar-side {
       z-index: 1;
       position: absolute;
       width: 260px;
   }

  .navbar {
border-radius: 0px; 
}
  
}
@media(max-width:480px) {
.page-header small {
display: block;
padding-top: 14px;
font-size: 19px;
}
}